@model IEnumerable<FanzaActressSearch.ViewModel.ViewActress>

@{
    ViewData["Title"] = "更新履歴 | 驚異のFANZA女優検索";
}

<h1 class="h5">更新履歴</h1>
<ul>
    <li>
        21/05/15 連続再生機能実装
    </li>
</ul>
<ul>
    <li>
        21/05/01 公開
    </li>
</ul>
